<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campfire Account Password Reset</title>
</head>
<body>
    <h1>Account Password Reset</h1>
    <p>Password Reset Code: </p>
    <p><span th:text="${code}"></span></p>
    <p>This Code will be valid in 10 minutes</p>
    <p>If you didn't request password reset, you can safely ignore this email. Someone else might have typed your email address by mistake.</p>
    <p>
        Thanks,<br/>
        The Campfire account Team
    </p>
</body>
</html>